<% @boards.each do |board| %>
  <div class="card mb-3 rounded-lg">
    <div class="card-body">
      <h5 class="card-title">
        <%= board.title %>
      </h5>
      <p class="card-text">
        キャンパス:<%= board.campus_name.name %>
      </p>
      <p class="card-text">
        <%= board.abstract %>
      </p>
      <p>
        実施期間:<%= l board.start_day %>~<%= l board.finish_day %>
      </p>
      <p>
        報酬:<%= board.reward_content %>
      </p>
      <%= link_to "詳しく見る", board_path(board), class: "btn btn-primary" %>
      <p class="card-text">
        <small class="text-muted">
          応募締め切り日:<%= l board.endline %>
        </small>
      </p>
      <p class="card-text">
        投稿者:<%= board.user.name %>
      </p>
      <% if board.user_id == current_user&.id %>
        <%= link_to 'Show', board %>
        <%= link_to 'Edit', edit_board_path(board) %>
        <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
