

<h1>
  <%= @board.title %>
</h1>

<p>
  <strong>概要:</strong>
  <%= @board.abstract %>
</p>

<p>
  <strong>詳細</strong>
  <%= sanitize @board.detail %>
</p>

<p>
  <strong>キャンパス:</strong>
  <%= @board.campus_name.name %>
</p>

<p>
  <strong>研究室:</strong>
  <%= @board.laboratory %>
</p>

<p>
  <strong>実施期間:</strong>
  <%= @board.start_day %>~<%= @board.finish_day %>
</p>

<p>
  <strong>実施場所:</strong>
  <%= @board.place %>
</p>

<p>
  <%= @board.reward.name %>
</p>

<p>
  <strong>報酬内容:</strong>
  <%= @board.reward_content %>
</p>

<p>
  <strong>応募数:</strong>
  <%= @board.number %>
</p>

<p>
  <strong>責任者:</strong>
  <%= @board.charge %>
</p>

<p>
  <strong>連絡先:</strong>
  <%= @board.contact %>
</p>

<p>
  <strong>応募締切日:</strong>
  <%= @board.endline %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @board.user.name %>
</p>

<% if @board.user_id == current_user&.id %>
  <%= link_to 'Edit', edit_board_path(@board) %>
<% end %>
