<!DOCTYPE html>
<html>
  <head>
    <title>RitsRecruit 被験者募集掲示板</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/header' %>
    
    <% flash.each do |message_type, message| %>
      <div class="container">
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      </div>
    <% end %>
    
      <%# 再読み込みの警告を出さないようにするJSを読み込む %>
      <%= javascript_include_tag 'cancel_bfcache.js' %>

      <%= yield %>

    <%= render 'shared/footer' %>

    <% debug(params) if Rails.env.development? %>
  </body>
</html>
